body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

header,
footer {
    padding: 0px 250px;
}

.info,
.quote {
    padding: 0px 325px;    
}

header {
    background-color: #1f2937;
}

.top,
.bottom,
.right {
    display: flex;
}

.top {
    align-items: baseline;
    gap: 25px;
}

.logo {
    margin-right: auto;
    font-size:  24px;
    color: #f9faf8;
    font-weight: 800;
    margin-bottom: 0px;
}

.top a,
.bottom p,
.call p {
    font-size:  18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 0px;
}

.bottom {
    padding: 120px 0px;
    gap: 50px;
}

.bottom .left,
.bottom .right {
    flex: 1;
}

.left h1 {
    font-size:  48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

.bottom .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #64676d;
}

button {
    color: #f9faf8;
    background-color: #3382f6;
    font-size:  18px;
    font-weight: 700;
    border-radius: 8px;
    border-style: hidden;
    padding: 8px 28px;
    margin: 18px 0px;
}

.info {
    text-align: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 1.2em 0px;
}

.info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    list-style-type: none;
    padding: 0px 0px 70px;
}

.info li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0;
}

.info li div {
    height: 150px;
    width: 150px;
    border: 3px  solid #3382f6;
    border-radius: 10px ;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e5e7eb;
    padding-top: 120px;
    padding-bottom: 120px;
}

.quote p {
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
}

.quote .text {
    font: 300 italic 36px 'Roboto', sans-serif;
    color: #1f2937;
}

.quote .author {
    align-self: flex-end;
    margin-right: 50px;
}

.call {
    display: flex;
    background-color: #3382f6;
    justify-content: center;
    align-items: center;
    margin: 125px 250px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 40px 150px;
}

.call h3 {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    margin: 0px;
}

.call button {
    border: solid 2px #f9faf8;
    margin-left: auto;
}